body{
    background: url('./assets/bats-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color: black;
}
h1{
    color:white;
}
h2{
    color:white;
}
u{
    color:white;
    text-decoration: none;
}

@font-face {
    font-family: Pixelify_Sans;
    src: url('./assets/Gothik Steel.ttf');
}
@font-face {
    font-family: SometypeMono;
    src: url('./assets/JMH Typewriter.ttf');
}

@font-face {
    font-family: PunkTypewriter;
    src: url('./assets/Punk Typewriter.otf');
}

.pixelify-sans-font{
    font-family: Pixelify_Sans;
}

.cabecalho{
    margin-top: -20px;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    height: 130px;
    width: 80vw;
    border:2px solid white;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.cabecalho-title{
    font-family: Pixelify_Sans;
    margin-top: auto;
    text-align: center;
    color:white;
    font-size:80px;
}

.content{
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    width: 80vw;
    height: flex;
    border: 2px solid white;
    border-radius: 20px;
}

.postStyle{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 20px;
    height:fit-content;
    width: 75vw;
    background-color: black;    
}

.newDiv{
    margin-left:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleStyle{
    font-family: PunkTypewriter;
    font-size: 60px
}

.authorStyle{
    display: inline-block;
    font-size: 15px;
    font-family: SometypeMono;
}

.breakStyle{
    position: relative;
    top: 2px;
    font-size:x-large;
}

.separatorStyle{
    display:inline-block;
    margin-left: 10px;
}

.textStyle{
    font-family: SometypeMono;
    font-size: 20px;
    margin-left: 25px;
}

.roleDiv{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.roleStyle{
    font-family: SometypeMono;
    font-size: 14px;
}
.dateStyle{
    display: inline-block;
    font-family: SometypeMono;
    font-size: 14px;
    margin-left: 10px
}
